html {
	font-size:18px;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	color: #000000ff;
	}

header { 
	text-align: center;
	clear: both;

}

body { 
	height: 100%;
	padding:1em;
	line-height: 1.75;
	font-weight: 400;
	min-height: 100vh;
	overflow-x: hidden;
	}

.content {
	text-align: justify;
	margin-bottom: 50px
}

main {
	margin:0 auto;
	max-width:45em;
	min-height: 100%
	}

img {
	padding-top: 15px;
	padding-bottom: 15px;
}

img.pitch {
	max-width: 70%;
	margin-top: 40px;
}

div.logo {
	max-width: 10%; 
	display: inline-block;"
}

@media screen and (max-width: 630px) {
div.logo {
	max-width: 40%; 
	display: block;"
}
}

@media screen and (max-width: 600px) {

	img.pitch {
	max-width: 100%;
	margin-top: 100px;
}

#menu-items {
	text-align: left;
}


    }


code {
	background-color: #f1f1f1;
	border: solid #414141 0.5px;
	border-radius: 2px;
	padding: 3px;
}
a {
	text-decoration:underline;
	color: inherit;
	cursor: pointer;
	}

a:hover {
	color:#800000;
	}

b,strong {
	font-weight: 900;
}
h1 {
	margin:1.414em 0 .5em;
	line-height:1.2;
	margin-top:0;
	font-size:4em;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	padding-bottom: 1em
	}


h1,h2,h3,h4 {
	text-align: left;
}

div.pitch {
	max-width: 70%;
	margin:0 auto;
	font-size: 2em;
	text-align: left;
	padding-bottom: 2em;
	border-bottom: 5px solid;

}

div.home-info {
	max-width: 70%;
	margin:0 auto;
	font-size: 1em;
	text-align: left;
	padding-bottom: 20px;
	padding-top: 3em;
}

h1.pitch {
	font-size: 2.5em;
	letter-spacing: 1px;
	margin-bottom: 20px;
	padding-bottom: 0px;
	font-family: 'Playfair Display', serif;
	word-wrap: break-word;
	overflow-wrap: break-word;
	-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;}



.icons {
	font-size:30px;
	padding: 5px 10px 5px 10px;
	margin: 5px 10px 5px 10px;
	display: inline-block;
}
}
small {
	font-size:.8em
	}

main,section {
	padding-top:1em;
	padding-bottom:1em
	}

nav {
	font-size:14px;
	display: inline-block;
	}

nav a {
	padding:0px;
	text-decoration: none;
	}

nav a:hover {
	background-color: #800000;
	color: white;
}



.dropbtn {
    background-color: inherit;
    color: black;
    padding: 0px;
    font-size: 12px;
    border: none; 
    font-weight: 200;
    text-transform: uppercase;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 4px;
    padding-right: 4px;

}

#menu-items a.current {
	font-weight: 700;

}

button.current {
	font-weight: 700;

}

.sub-dropbtn {
	text-transform: none;
	font-size: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 0px;
    border-bottom: 3px solid #800000;
    margin-right: 20px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    max-height: 400px;
    z-index: 1;
    overflow: auto;
}

.dropdown-content a {
    color: inherit;
    padding: 10px;
    text-decoration: none;
    background-color: #f1f1f1;
    display: block;
    font-weight: 200;
    
}

.dropdown-content a:hover {background-color: #800000; color: white}


.dropdown:hover .dropdown-content {display: block}

.dropbtn:hover {background-color: #800000; color: white}

.footer {
	margin-top: 10em;
	font-size: 12px;
	bottom:0;
	text-align:justify;
	position: relative;
	padding: 2em;
	padding-bottom: 0;
	width: 100vw;
    margin-left: -49px;
    margin-right: 0;

	}
p.iscriviti {
	color: #800000;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	padding-bottom: 10px;
	font-size: 24px;
}

.fullwidth {
	margin-left: -1.5em;
	margin-right: -1.5em;
	display: block;
	clear: both;
	padding-bottom: 2em;
	padding-top: 2em;
} 

.fullwidth p {font-size: 10px}
.fullwidth h2 {font-size: 16px}
.fullwidth img {max-width: 100%}
.column4 { float: left; width: 20%; margin-left: 2.5%; margin-right: 2.5%; margin-bottom: 2em}
.column3 { float: left; width: 28%; padding-left: 2.5%; padding-right: 2.5%}
.column2 { float: left; width: 45%; padding-left: 2.5%; padding-right: 2.5%; margin-bottom: 2em}
.column2a { float: left; width: 70%; padding-right: 2%; text-align: center; padding-bottom: 1em;}
.column2b { float: left; width: 27%; text-align: left;font-size: 14px; padding-bottom: 1em}
.column2a img {max-width: 100%}
.column2b h3 {margin-top: 0px}

.clear {clear: both}


ul {
		list-style-type: square;
		font-size: 16px;
}

ol {font-size: 16px;}

ul li, ol li {
	text-align: left;
}

div.aspect-ratio {
	position:relative; 
	width: 100%; 
	padding-bottom: 56.22%; 
    padding-top: 25px;
    margin-bottom: 50px;

}

video.video-tutorial-link {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
}


/* blog  */

h1.post-title {
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 32px;
}

.post-title a {
	font-family: 'Roboto';
	font-size: 0.8em;
	color: #800000;
	}
.post-title a:hover {
	font-size: 1em;
}

.post-details {
	color: #828282 ;
	margin-top: 5px;
	font-size: 0.9em;
	font-weight: 400;
}

.post-tags {
	padding: 2px;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #E0E3F0;

}


/* forms  */

.form > input, textarea {
	min-width: 90%;
	margin-top: 2em;
	padding: 25px;
	border:none;
	background-color: #f1f1f1;
	color: black;
	font-size: 12px;

}

.form > textarea {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	height: 400px;
	margin-bottom: 2em;

}

button.submit{    
	background-color: black;
    font-family: inherit; 
    width: 20%;
    height: 40px; 
    color: white; 
    border-width: 0px; 
    cursor: pointer;
    border:0px;
    font-size: 14px;

}


button.submit:hover{    
	background-color: #800000;
    color: black; 
    font-weight: 900;

}


button.newsletter {    
    font-size: 3em;
    color: black; 
    cursor: pointer;
    background: none;
    border: none;
    outline: inherit;
    margin:3px;
    position: absolute;
    padding-top: 7px;
}

button.newsletter:hover {    
    color: #800000;
}

 /* Container holding the image and the text */
.container {
    position: relative;
    margin-bottom: 2em;
    height: 600px;
}

.container:hover img {
  opacity: 0.3;
}

/* Bottom left text */
.text-block {
    position: absolute;
    bottom: 0px;
    background-color: black;
    color: white;
    padding: 1em;
} 


@media screen and (max-width: 800px) {
    .column4 {
        width: 100%;
    }
        .column3 {
        width: 100%;
    }
        .column2 {
        width: 100%;
    }

    .logo-nav {
	min-width: 100%;
	padding-bottom: 2em;

}


div.pitch {
	display: inline-block;
	font-size: 1.5em;
	min-width: 100%;
}


div.home-info{
	max-width: 100%
}

nav {
	display: block;
}

}}

@media screen and (max-width: 900px) {

.fullwidth {
	min-width: 100%;
	margin-left:inherit;
	margin-right:inherit;
} 

.text-block {
    position: relative;
    background-color: black;
    color: white;
    padding: 1em;
    max-width: 100%;
	margin: 0;
} }
