<div class="footer">
<div style="text-align: center; padding: 10px; background-color: #f1f1f1;">
      <div class="icons">
      <a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope"></i></a>
    </div>
      <div class="icons">
      <a href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
    </div>

    <div class="icons">
      <a href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="icons">
      <a href="/feed.xml" target="_blank" rel="noopener noreferrer"><i class="fas fa-rss"></i></a>
    </div>
     <form style="padding:15px 15px 20px 15px;text-align:center;" action="http://groups.google.com/group/veneziainrete/boxsubscribe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <p class="iscriviti">Iscriviti alla newsletter
      </p>
      <span>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="questo per ora non funziona perchè bisogna settare google group" style="width:50%; height: 50px; font-size: 18px; font-family: 'Roboto'; font-weight: 200; padding-left: 2em;" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65ed7ff3e6e5e4ae12a2d42ac_bb8f9ca1c8" tabindex="-1" value=""></div>
             <input type="hidden" value="1" name="embed"/></span>
            <button type="submit" class="newsletter"><i class="fas fa-check-circle" ></i></button> 
        </form>  
	<p style="padding-top: 3em;">Leggi la nostra <a href="/privacy">privacy policy</a> · Tranne indicazione contraria, il contenuto del sito è rilasciato sotto licenza <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International</a></p>
</div>
</div>
</body>
</html>