<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>OCIO | {{ page.title }}</title>
    <meta name="author" content="OCIO">
    <meta name="description" content="{Osservatorio Civico indipendente sulla casa e sulla residenza">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary" />
  <!--  <meta name="twitter:site" content="@{{ site.twitter_username }}" />  -->
  <!--  <meta name="twitter:creator" content="@{{ site.twitter_username }}" />  -->
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.description }}{% endif %}" />
  {% if page.header-image %}
  <meta name="twitter:image" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}{{ page.header-image }}" />
{% else %}
<meta name="twitter:image" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}{{/img/social.png}}" />
{% endif %}


<!-- Open Graph -->
{% if page.is_post %}
  {% assign type = "article" %}
{% else %}
  {% assign type = "website" %}
{% endif %}
  <meta property="og:type" content="{{ type }}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.description }}{% endif %}" />
  {% if page.header-image %}
  <meta property="og:image" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}{{ page.header-image }}" />
  {% else %}
   <meta property="og:image" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}{{/img/social.png}}" />
  {% endif %}
  {% if page.is_post %}
  <meta property="og:site_name" content="{{ site.title }}" />
{% endif %}


<!-- Stylesheets -->
    <link rel="stylesheet" href="/style/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    
<!--- RSS -->
{% feed_meta %}
</head>