<nav>
 <div class=logo>
      <a pointer=mouse href="/" rel="noopener noreferrer" style="padding: 0px; font-size:4px;">{% include logo.svg %}</a>
      <div class="clear"></div>
 </div>

<div id="menu-items" style=" display: inline-block; float:right; margin-top: 25px">
  <div class="dropdown">
    <a class="dropbtn {% if page.slug == 'progetto' %} current {% endif %}" href="/pagine/progetto">Il progetto</a>
  </div>

  <div class="dropdown">
  <a class="dropbtn {% if page.slug == 'calendario' %} current {% endif %}" href="/pagine/calendario">Appuntamenti</a>
  </div>

  <div class="dropdown">
      <button class="dropbtn {% if page.slug == 'incontri' or page.slug == 'dati' %} current {% endif %}">Approfondisci</button>
      <div class="dropdown-content">
        <a class="dropbtn {% if page.slug == 'incontri' %} current {% endif %}" href="/pagine/incontri"> Materiale Incontri</a>
        <a class="dropbtn {% if page.slug == 'dossier' %} current {% endif %}" href="/pagine/dossier">Dossier</a>
        <a class="dropbtn {% if page.slug == 'dati' %} current {% endif %}" href="/pagine/dati">Dati</a>
     </div>
  </div>

  <div class="dropdown">
      <button class="dropbtn {% if page.slug == 'rassegna-segnala' %} current {% endif %}">Rassegna Stampa</button>
      <div class="dropdown-content">
	      <!-- <a class="dropbtn {% if page.slug == 'rassegna' %} current {% endif %}" href="/pagine/rassegna">Rassegna Stampa</a> -->
	       <a class="dropbtn {% if page.slug == 'rassegna-segnala' %} current {% endif %}" href="/pagine/rassegna-segnala">Segnala</a>
	        <!--<a class="dropbtn {% if page.slug == 'rassegna-archivio' %} current {% endif %}" href="/pagine/rassegna-archivio">Archivio</a> -->
     </div>
  </div>
  
   <!--<a class="dropbtn {% if page.slug == 'comunicati' %} current {% endif %}" href="/pagine/comunicati">Comunicati</a> -->
</div>
<div class="clear"></div>
</nav>
<div class="clear"></div>