<nav>
 <div class=logo>
      <a pointer=mouse href="/" rel="noopener noreferrer" style="padding: 0px; font-size:4px;">{% include logo.svg %}</a>
      <div class="clear"></div>
 </div>

<div id="menu-items" style=" display: inline-block; float:right; margin-top: 25px">



  <div class="dropdown">
  <a class="dropbtn {% if page.tema == 'erp' %} current {% endif %}" href="/pagine/erp">ERP</a>
  </div>
    <div class="dropdown">
    <a class="dropbtn {% if page.tema == 'ers' %} current {% endif %}" href="/pagine/ers">Edilizia Convenzionata</a>
  </div>
  <div class="dropdown">
    <a class="dropbtn {% if page.tema == 'locazioni' %} current {% endif %}" href="/pagine/locazioni">Locazioni Turistiche</a>
  </div>

    <div class="dropdown">
    <a class="dropbtn {% if page.slug == 'progetto' %} current {% endif %}" href="/pagine/progetto">Il progetto</a>
  </div>


<!--
  <div class="dropdown">
      <button class="dropbtn {% if page.slug == 'rassegna-segnala' %} current {% endif %}">Rassegna Stampa</button>
      <div class="dropdown-content">
	      <a class="dropbtn {% if page.slug == 'rassegna' %} current {% endif %}" href="/pagine/rassegna">Rassegna Stampa</a>
	       <a class="dropbtn {% if page.slug == 'rassegna-segnala' %} current {% endif %}" href="/pagine/rassegna-segnala">Segnala</a>
	        <a class="dropbtn {% if page.slug == 'rassegna-archivio' %} current {% endif %}" href="/pagine/rassegna-archivio">Archivio</a>
     </div>
  </div>
   -->
  
</div>
<div class="clear"></div>
</nav>
<div class="clear"></div>