{% include head.html %}

{% include nav.html %}
<body>
  <header>
  </header>   
  <div class="fullwidth" style="padding-top: 0"><img style="padding: 0;" src={{page.header-image}}><p style="font-size: 0.7em; text-align: center; margin-top: 0px;">{{page.foto-titolo}} <a href="{{page.autore-foto-link}}">{{page.autore-foto}}</a></div>
    <main>	
      <h1 style="text-align:center; margin-bottom: 20px; ">{{ page.title}}</h1>
      <p class="post-details" style="text-align:center; padding-bottom: 2em; font-size: inherit;"><i class="far fa-calendar" style="padding-right: 10px;"></i> {{page.dati-data | date: "%d/%m/%Y"}}</p>
      <div class="content">{{page.excerpt}}<p style="font-size: 0.8em"><em>Dati aggiornati al: {{page.dati-data}}</em></p></div>
      <div class="switch-field">
        <input type="radio" id="radio-three" name="switch-two" value="centro" checked onclick="centro()"/>
        <label for="radio-three">Sestieri + Giudecca & Sacca Fisola</label>
        <input type="radio" id="radio-four" name="switch-two" value="acqua" onclick="acqua()" />
        <label for="radio-four">Venezia Insulare e Litorale</label>
        <input type="radio" id="radio-five" name="switch-two" value="terra" onclick="terra()" />
        <label for="radio-five">Terraferma</label>
        <input type="radio" id="radio-six" name="switch-two" value="tutto" onclick="tutto()"/>
        <label for="radio-six">Tutto il Comune</label>
    </div>
<div class="counter">
		<div class="column3" style="border-right: 2px solid black">
      <p><span class="number" id="popolazione">{{page.p-popolazione}}</span><br><span class= "number-descr"> residenti<br>(<b id="pop-share">{{page.p-popolazione-share}}</b><b>%</b> sul totale del Comune)</span></p></div>
	<div class="column3" style="border-right: 2px solid black"><p><span class="number" id="letti-tot">{{page.p-totale-posti}}</span><br><span class= "number-descr"> posti letto in totali<br>(<b id="letti-tot-share">{{page.p-totale-posti-share}}</b><b>%</b> sul totale del Comune)</span></p></div>
	<div class="column3"><p><span class="number" id="letti-loc">{{page.p-locazione-posti}}</span><br><span class= "number-descr"> posti letto in locazioni turistiche<br>(<b id="letti-loc-share">{{page.p-locazione-posti-share}}</b><b>%</b> sul totale del Comune)</span></p></div>
<div class="clear"></div>
</div>

  
<div class="content"><p>La seguente mappa mostra la concentrazione di posti letto in confronto alla popolazione residente in ciascun isolato. Più un isolato è colorato di rosso scuro, maggiore è la sproporzione di posti letto in rapporto ai residenti. Considera che anche gli isolati di colore bianco e un verdino chiaro, per quanto qui il rapporto non sia così sbilanciato a favore del turismo, sono comunque da considerarsi luoghi ad alta pressione, essendoci solo un piccolo margine di residenti in più rispetto alla capacità ricettiva.<br><br>
<em style="font-size: 0.8em">Esempio: un isolato con 100% più posti letto che residenti vuol dire che i posti letto disponibili sono il doppio della popolazione; un isolato con 200% più posti letto che residenti vuol dire che i posti letto sono il 3 volte il numero dei residenti.</em></p></div>

<div class="slides-container" style="height:600px;padding-top: 0px">
<iframe src="/viz/affittanze/index.html" style="width:100%" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
<div class="content"><h2>Fonti</h2>
<ul style="padding-left:15px">
  <li><b>Strutture turistiche</b>: <a href="http://geoportale.comune.venezia.it/Html5Viewer/index.html?viewer=IDS.IDS&LOCALE=IT-it">Portale GeoIDS</a></li>
  <li><b>Popolazione</b>: <a href="https://portale.comune.venezia.it/millefoglie/statistiche/home">Stime giornaliere Anagrafe Comune di Venezia</a></li>
  <li><b>Basi dati geografici</b>: <a href="http://dati.venezia.it/?q=content/cartografia-di-base">Open Data Venezia, Cartografia di base</a></li>
<li><b>Corrispondenze tra isolato -> località -> quartiere -> municipalità -> gruppo</b>: <a href="http://geotributi.comune.venezia.it/">Portale GeoTributi</a></li>
</ul></div>

</main>
<script>

function centro() {
  var pop = document.getElementById("popolazione");
  pop.innerHTML = "{{page.p-popolazione}}";
  var popShare = document.getElementById("pop-share");
  popShare.innerHTML = "{{page.p-popolazione-share}}";

  var lettiTot = document.getElementById("letti-tot");
  lettiTot.innerHTML = "{{page.p-totale-posti}}";
  var lettiTotShare = document.getElementById("letti-tot-share");
  lettiTotShare.innerHTML = "{{page.p-totale-posti-share}}";
  
  var lettiLoc = document.getElementById("letti-loc");
  lettiLoc.innerHTML = "{{page.p-locazione-posti}}";
  var lettiLocShare = document.getElementById("letti-loc-share");
  lettiLocShare.innerHTML = "{{page.p-locazione-posti-share}}";
  
}

function acqua() {
  var pop = document.getElementById("popolazione");
  pop.innerHTML = "{{page.a-popolazione}}";
  var popShare = document.getElementById("pop-share");
  popShare.innerHTML = "{{page.a-popolazione-share}}";

  var lettiTot = document.getElementById("letti-tot");
  lettiTot.innerHTML = "{{page.a-totale-posti}}";
  var lettiTotShare = document.getElementById("letti-tot-share");
  lettiTotShare.innerHTML = "{{page.a-totale-posti-share}}";
  
  var lettiLoc = document.getElementById("letti-loc");
  lettiLoc.innerHTML = "{{page.a-locazione-posti}}";
  var lettiLocShare = document.getElementById("letti-loc-share");
  lettiLocShare.innerHTML = "{{page.a-locazione-posti-share}}";
}

function terra() {
  var pop = document.getElementById("popolazione");
  pop.innerHTML = "{{page.t-popolazione}}";
  var popShare = document.getElementById("pop-share");
  popShare.innerHTML = "{{page.t-popolazione-share}}";

  var lettiTot = document.getElementById("letti-tot");
  lettiTot.innerHTML = "{{page.t-totale-posti}}";
  var lettiTotShare = document.getElementById("letti-tot-share");
  lettiTotShare.innerHTML = "{{page.t-totale-posti-share}}";
  
  var lettiLoc = document.getElementById("letti-loc");
  lettiLoc.innerHTML = "{{page.t-locazione-posti}}";
  var lettiLocShare = document.getElementById("letti-loc-share");
  lettiLocShare.innerHTML = "{{page.t-locazione-posti-share}}";
}

function tutto() {
  var pop = document.getElementById("popolazione");
  pop.innerHTML = "{{page.c-popolazione}}";
  var popShare = document.getElementById("pop-share");
  popShare.innerHTML = "{{page.c-popolazione-share}}";

  var lettiTot = document.getElementById("letti-tot");
  lettiTot.innerHTML = "{{page.c-totale-posti}}";
  var lettiTotShare = document.getElementById("letti-tot-share");
  lettiTotShare.innerHTML = "{{page.c-totale-posti-share}}";
  
  var lettiLoc = document.getElementById("letti-loc");
  lettiLoc.innerHTML = "{{page.c-locazione-posti}}";
  var lettiLocShare = document.getElementById("letti-loc-share");
  lettiLocShare.innerHTML = "{{page.c-locazione-posti-share}}";
}
</script>
{% include footer.html %}
