{% include head.html %}
{% include nav.html %}
<body>
  <header>
  </header>
    <div class="content">
      <div class="pitch">
      	<img class="pitch" src="/img/logo.svg" />
        <p><span style="color:#800000; font-weight: 400">O</span>sservatorio <span style="color:#800000; font-weight: 400">Ci</span>vic<span style="color:#800000; font-weight: 400">o</span> indipendente<br>sulla casa e sulla residenza - Venezia</p>
    </div>
<div class="home-info">{{content}}</div>

</div>
 </main>
{% include footer.html %}