{% include head.html %}
{% include nav.html %}
<body>
  <header>
  </header>   
  <div class="fullwidth" style="padding-top: 0"><img style="padding: 0;" src={{page.header-image}}><p style="font-size: 0.7em; text-align: center; margin-top: 0px;">{{page.foto-titolo}} <a href="{{page.autore-foto-link}}">{{page.autore-foto}}</a></div>
    <main>	
      <h1 style="text-align:center; margin-bottom: 20px; ">{{ page.title}}</h1>
      <p class="post-details" style="text-align:center; padding-bottom: 2em; font-size: inherit;"><i class="far fa-calendar" style="padding-right: 10px;"></i>{{page.data | date: "%d/%m/%Y"}}
      {{page.date | date: "%d/%m/%Y"}} • <b>Autore</b>: <a href="{{page.autore-link}}">{{page.autore}}</a><br></p>
      <div class="content">{{content}}</div>
    </main>
{% include footer.html %}
